body {
text-align: center;
}

header {
  color: black;
  background-color: chocolate;
}

h1 {

}

article {
color: black;
background-color: brown;
}

p {
  color: black;
  background-color: brown;
  padding: auto;
}

.state-section {
background-color: saddlebrown;
display: flex;
justify-content: center;
align-content: center;
padding: 10px;
margin: 10px;
}

input {
padding: 8px;
border-radius: 2px;
border-radius: 20%;
margin: 5px;
border: 1px solid black;
}

button {
text-transform: uppercase;
border: 1px solid black;
}

.brewery-data {
  background-color: yellow;
  color: black;
  padding: 10px;

}

div h1{
  display: block;
  background-color: yellow;
  text-align: left;
}

